@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&family=Noto+Sans+Mono:wght@400;700&display=swap');

:root {
  --sl-font: 'Noto Sans JP', sans-serif;
  --sl-font-mono: 'Noto Sans Mono', monospace;

  /* ライトモード */
  --sl-color-white: #2b2b2b;
  --sl-color-gray-1: #2b2b2b;
  --sl-color-gray-2: #4e4e4e;
  --sl-color-gray-3: #b8b8b8;
  --sl-color-gray-4: #e5e5e5;
  --sl-color-gray-5: #f0f0f0;
  --sl-color-gray-6: #faf8f8;
  --sl-color-black: #faf8f8;

  --sl-color-accent-low: #c8d9e8;
  --sl-color-accent: #34597d;
  --sl-color-accent-high: #5d7ea0;

  --sl-color-bg: #faf8f8;
  --sl-color-bg-nav: #faf8f8;
  --sl-color-bg-sidebar: #faf8f8;
  --sl-color-text: #2b2b2b;
  --sl-color-text-accent: #34597d;
  --sl-color-hairline-light: #e5e5e5;
  --sl-color-hairline-medium: #b8b8b8;
}

:root[data-theme='dark'] {
  --sl-color-white: #ebebec;
  --sl-color-gray-1: #ebebec;
  --sl-color-gray-2: #d4d4d4;
  --sl-color-gray-3: #646464;
  --sl-color-gray-4: #393639;
  --sl-color-gray-5: #252525;
  --sl-color-gray-6: #1e1e20;
  --sl-color-black: #161618;

  --sl-color-accent-low: #1e3247;
  --sl-color-accent: #6c9ac5;
  --sl-color-accent-high: #afc0d1;

  --sl-color-bg: #161618;
  --sl-color-bg-nav: #161618;
  --sl-color-bg-sidebar: #161618;
  --sl-color-text: #ebebec;
  --sl-color-text-accent: #6c9ac5;
  --sl-color-hairline-light: #393639;
  --sl-color-hairline-medium: #646464;
}

a {
  text-decoration: none;
  font-weight: 600;
}
