@use "./base.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

html {
  scroll-padding-top: 1rem;

  @media all and ($mobile) {
    scroll-padding-top: calc(2rem + 1.75rem + 1rem);
  }
}

.page-listing {
  margin-top: 1em;
}
